
/* 
                                Core Styles 
*/
body, html {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 5%;
}

a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p, li {
    font-size: 1.125em;
    font-family: 'Poppins', sans-serif;
}

button {
    font-weight: 900;
}

p {
    color: #4c4c4c;
    font-size: 1em;
}

h1 {
    font-size: 2.5em;
}

h1+h2 {
    font-size: 1.25em;
    font-weight: normal;
}

h2 {
    font-size: 1em;
}

button {
    text-transform: uppercase;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 2000;
}

.hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 2000;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

/* * Spring */
.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear;
    transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-delay: .22s;
}
.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* Buttons */
.solid {
    background: #000;
    color: #fff;
    font-size: var(--button-reg);
    border: none;
    width: 150px;
    height: auto;
    padding: 10px 25px;
    margin-bottom: 15px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

.solid:before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    top: -5px;
    left: -5px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.solid:after {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    bottom: -5px;
    right: -5px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.solid:hover:before,
.solid:hover:after {
    width: 150px;
    height: 35px;
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.primary {
    background: var(--primary);
    color: #fff;
    font-size: var(--button-reg);
    border: none;
    width: 150px;
    height: auto;
    padding: 10px 25px;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.primary:before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    position: absolute;
    top: -5px;
    left: -5px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.primary:after {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    position: absolute;
    bottom: -5px;
    right: -5px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.primary:hover:before,
.primary:hover:after {
    width: 150px;
    height: 35px;
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.active-menu {
    border-bottom: 9px solid var(--primary);
}

/* Global Variables */

:root {
    --primary: #fdd008;

    --button-reg: .9em;
    --button-sm: .75em;

    --heading: #1a1a1a;
    --p: #4c4c4c;
}

/*-- -------------------------- -->
<---            MOBILE          -->
<--- -------------------------- -*/

#top-navbar {
    display: none;
}

nav img:nth-child(2){
    display: none;
}

.about-dropdown,
.services-dropdown,
.contact-dropdown {
    position: relative;
}

.sub-nav li {
    text-align: left;
}

.sub-nav li a {
    padding: 10px 20px;
    margin: 0;
    width: 100px;
}

.quote {
    display: none;
}

/* Side Nav */
#main-navigation {
    margin: 0;
    padding-right: 20px;
    position: relative;
    top: -2020px;
    z-index: 50;
    visibility: hidden;
}

#bottom-nav-bar {
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    background: #000;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

nav ul li {
    position: relative;
    list-style: none;
    text-align: right;
    padding: 0px;
    top: 50px;
    z-index: 1200;
    margin: 15px 0;
    width: auto;
    font-weight: bold;
    font-size: 10px;
}

.side-nav a {
    text-decoration: none;
    padding: 0 0 5px 20px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: relative;
    z-index: 200;
}

i.fas.fa-chevron-down {
    font-size: 16px;
    margin-left: 10px;
} 

nav img {
    position: absolute;
    height: 50px;
    left: 0;
    top: 5px;
    z-index: 10;
    padding: 15px;
}

.sub-nav {
    position: absolute;
    z-index: 2000;
    background: #000;
    text-align: left;
    padding: 0;
    top: 42px;
    display: none;
}

.sub-nav li a:hover {
    color: var(--primary);
}

/* Hamburger Menu */
#menu-button {
    position: absolute;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 7px;
    width: 60px;
    visibility: visible;
    z-index: 5000;
}

/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#landing-page {
    background:url("../images/Project-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.landing-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .65;
}

.landing-group {
    position: relative;
    z-index: 10;
}

.landing-text {
    position: relative;
    z-index: 2;
    display: hidden;
}

.landing-text h1 {
    margin: 0;
    padding-top: 110px;
    color: #f5f3f3;
    font-weight: 900;
    line-height: 1.2em;
} 

.landing-text h2 {
    color: #f5f3f3;
    margin: 30px auto;
}

.landing-b {
    margin-bottom: 25px;
    margin-top: 10px;

}

.landing-text button {
    width: 160px;
}
.about {
    display: block;
    font-weight: 900;
    background: #f5f3f3;
    color: #000
}

.primary {
    color: #1a1a1a;
    font-weight: 900;
    margin-right: 50px;
}

/*-- -------------------------- -->
<---           TABLET           -->
<--- -------------------------- -*/

@media screen and (min-width: 600px) and (max-width: 1024px) {

    .container {
        padding: 0 10%;
    }

    .side-nav {
        padding-right: 60px;
        padding-top: 20px;
    }

    .side-nav ul li a {
        font-size: 18px;
    }

    .valley-mobile-logo {
        padding-left: 10%;
        padding-top: 5%;
        height: 65px;
    }

    #menu-button {
        position: absolute;
        z-index: 6000;
        visibility: visible;
        margin: 0;
        margin-right: 8%;
        margin-top: 5%;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 40px;
        height: 4px;
    }

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #landing-page {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .landing-text {
        max-width: 700px;
    }

    .landing-text h1 {
        font-size: 60px;
        position: relative;
        z-index: 15;
    }

    .landing-text h1:before {
        content: '';
        width: 280px;
        height: 4px;
        background: var(--primary);
        position: absolute;
        bottom: 5px;
        z-index: -1;
    }

    .landing-text h1:after {
        content: '';
        width: 558px;
        height: 4px;
        background: var(--primary);
        position: absolute;
        bottom: 76px;
        left: 0;
        z-index: -1;
    }

    .landing-text h2 {
        font-size: 25px;
    }

    button.about {
        margin-right: 40px;
        display: inline-block;
        height: 60px;
        width: 200px;
        font-size: 18px;
    }

    button.primary {
        height: 60px;
        width: 200px;
        font-size: 18px;
    }

}

/*-- -------------------------- -->
<---           DESKTOP          -->
<--- -------------------------- -*/

@media screen and (min-width: 1025px) {

    .container {
        max-width: 1100px !important;
        padding: 0 2em;
        margin: 0;
    }

    #top-navbar {
        display: block;
    }

    .clip-bottom {
        display: none;
    }

    .vcs-black {
        display: block;
        height: 50px;
    }

    nav img {
        display: none;
    }

    .top-nav-container {
        position: relative;
        right: 50px;
        width: 590px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .quote {
        display: inline-block;
        height: 60px;
        position: relative;
        right: 0;
        width: 250px;
        background: var(--primary);
        border: 1px solid var(--primary);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 1em;
        font-weight: bold;
    }

    .quote:hover {
        opacity: .8;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        cursor: pointer;
    }

    #main-navigation {
        visibility: visible;
        padding-left: 20px;
    }

    nav ul li {
        top: 0;
    }

    .side-nav a {
        display: block;
        visibility: visible;
        opacity: 1;
        margin-bottom: 0;
        margin-right: 20px;
        top: 0px;
        padding-bottom: 0;
        font-size: 15px;
    }

    .side-nav a:hover {
        color: var(--primary);
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }

    .active-menu {
        border: none;
        color: var(--primary) !important;
    }

    .side-nav li {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .sub1 {
        top: -10px;
        z-index: -1;;
    }

    .sub1 li:first-child {
        padding-top: 50px;
    }

    /* about sub menu */
    .about-li:hover .sub1 {
        display: block;
    }

    .sub2 {
        top: -10px;
        z-index: -1;;
    }

    .sub2 li:first-child {
        padding-top: 50px;
    }

    /*services sub menu */
    .services-li:hover .sub2 {
        display: block;
    }

    .sub3 {
        top: -10px;
        z-index: -1;;
    }

    .sub3 li:first-child {
        padding-top: 50px;
    }

    /* contact sub menu */
    .contact-li:hover .sub3 {
        display: block;
    }

    .top-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        height: 90px;
    }

    .location {
        display: inline-block;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #bottom-nav-bar {
        height: 60px !important;
        top: 90px;
        visibility: visible;
        opacity: 1;
        max-width: 1100px;
        margin: auto;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    #main-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        top: 0;
    }

    /* Top Navigation */

    .icon svg {
        width: 30px;
        margin-right: 15px;
        height: auto;
    }

    .location {
        margin: 15px 0;
    }

    .location-info p:first-child {
        font-size: 14px;
        color: #1a1a1a;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
    }

    .location-info p:nth-child(2) {
        margin: 0;
        font-size: 13px;
        color: 
    }

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #landing-page {
        min-height: 750px;
        position: relative;
        background-attachment: fixed;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .landing-group {
        margin: 0 auto;
        width: 1100px;
    }

    .landing-text {
        width: 900px;
        left: 0;
        top: -30px;
    }

    .landing-text h1 {
        padding-top: 30px;
        font-size: 59px;
        font-family: 'Roboto', sans-serif;
    }

    .landing-text h2 {
        width: 610px;
        margin-left: 0;
        line-height: 1.4em;
    }

    button.about {
        display: inline-block;
        margin-right: 40px;
    }

    .clippy-desktop {
        height: 90px;
        width: 100%;
        background: #fff;
        -webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
                clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
        position: absolute;
        bottom: -2px;
    }
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/



/*-- -------------------------- -->
<---        MOBILE FOOTER       -->
<--- -------------------------- -*/

footer {
    background: url("../images/blueprint.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
}

.footer-item {
    margin-bottom: 50px;
}

.footer-item:nth-child(2) {
    width: 250px;
    margin-top: 40px;
    height: 250px;
}

.footer-item:nth-child(2) a {
    margin-bottom: 10px;
}

.footer-item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-top: 50px;
}

.footer-item h3 {
    text-align: left;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    height: auto;
    margin-bottom: 0;
}

.footer-item p {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.footer-item a {
    color: #fff;
    font-size: 15px;
    margin: 0;
    float: left;
    text-decoration: none;
    display: block;
    margin-right: 80px;
}

.item-line {
    height: 2px;
    width: 70%;
    background: #fff;
    margin: 7px 0;
    margin-bottom: 20px;
}

.footer-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .9;
    z-index: 5;
}

.footer-content {
    position: relative;
    z-index: 6;
}

.footer-content img {
    width: 250px;
    height: auto;
    margin-top: 50px;
    position: relative;
    left: 0;
    margin-bottom: 40px;
}

.valley-footer-icon i {
    color: var(--primary);
    margin-right: 15px;
    font-size: 20px;
    margin-top: 5px;
}

.uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
    margin-bottom: 20px;
}

.branding-line {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0px 0 15px 0;
    position: relative;
    z-index: 6;
}

.branding {
    padding: 10px 0 20px 0;
}

.branding p {
    color: #fff;
    position: relative;
    z-index: 6;
    text-align: center;
    text-decoration: none;
    line-height: 1.2em;
    margin: 0;
}

.branding a {
    color: var(--primary);
    text-decoration: none;
}

.branding a:hover {
    cursor: pointer;
    opacity: .5;
    text-decoration: none;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

        .footer-item {
            width: 250px;
        }

}

@media screen and (min-width: 1025px) {

    footer {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footer-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 100px;
        width: 1100px;
        height: 320px;
    }

    .item-line {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-item img {
        margin: 0;
        margin-bottom: 50px;
        width: 300px;
        height: auto !important;
        position: absolute;
        top: -20px;
    }

    .first-p {
        padding-top: 55px;
    }

    .footer-item {
        height: 280px;
        width: auto;
        max-width: 220px;
        min-width: 220px;
        position: relative;
    }

    .footer-item h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-item a {
        display: block;
        float: left;
        margin-right: 100px;
        margin-bottom: 10px;
    }

    .footer-item:first-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 300px;
    }

    .footer-location-info p:first-child {
        font-weight: bold;
        text-transform: uppercase;
    }

    .footer-location {
        width: 180px;
    }

    .footer-location2 {
        width: 180px;
        margin: 0 !important;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px !important;
    }

    .valley-footer-icon i {
        width: 23px;
    }

    .branding a {
        display: block;
        width: 100%;
    }

    .branding a {
        display: inline-block;
    }
}


