
/* 
                                Core Styles 
*/
body, html {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 5%;
}

a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p, li {
    font-size: 1.125em;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #4c4c4c;
    font-size: 1em;
}

h1 {
    font-size: 2.5em;
}

h1+h2 {
    font-size: 1.25em;
    font-weight: normal;
}

h2 {
    font-size: 1em;
}

/* Buttons */
.solid {
    background: #000;
    color: #fff;
    font-size: var(--button-reg);
    border: none;
    width: 150px;
    height: auto;
    padding: 10px 25px;
    margin-bottom: 15px;
}

.solid:hover {
    background: var(--primary);
    color: #000;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)
}

.primary {
    background: var(--primary);
    color: #fff;
    font-size: var(--button-reg);
    border: none;
    width: 150px;
    height: auto;
    padding: 10px 25px;
    cursor: pointer;
}

.primary:hover {
    background: #f6f7f8;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)
}

.active-menu {
    border-bottom: 9px solid var(--primary);
}

/* Global Variables */

:root {
    --primary: #fdd008;

    --button-reg: 1em;
    --button-sm: .75em;

    --heading: #1a1a1a;
    --p: #4c4c4c;
}

/* 
                                Navigation
*/

#top-navbar {
    display: none;
}

nav img:nth-child(2){
    display: none;
}

.about-dropdown,
.services-dropdown,
.contact-dropdown {
    position: relative;
}

.sub-nav li {
    text-align: left;
}

.sub-nav li a {
    padding: 10px 20px;
    margin: 0;
    width: 100px;
}

.quote {
    display: none;
}

/* Side Nav */
#main-navigation {
    margin: 0;
    padding-right: 20px;
    position: relative;
    top: -2020px;
    z-index: 50;
    visibility: hidden;
}

#bottom-nav-bar {
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    background: #000;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

nav ul li {
    position: relative;
    list-style: none;
    text-align: right;
    padding: 0px;
    top: 50px;
    z-index: 1200;
    margin: 15px 0;
    width: auto;
    font-weight: bold;
    font-size: 10px;
}

.about-dropdown:hover .sub-nav {
    
}

.side-nav a {
    text-decoration: none;
    padding: 0 0 5px 20px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: relative;
    z-index: 200;
}

i.fas.fa-chevron-down {
    font-size: 16px;
    margin-left: 10px;
} 

nav img {
    position: absolute;
    height: 50px;
    left: 0;
    top: 5px;
    z-index: 10;
    padding: 15px;
}

.sub-nav {
    position: absolute;
    z-index: 2000;
    background: #000;
    text-align: left;
    padding: 0;
    top: 43px;
    display: none;
}

.sub-nav li a:hover {
    color: var(--primary);
}

/* Hamburger Menu */
#menu-button {
    position: absolute;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 7px;
    width: 60px;
    visibility: visible;
    z-index: 5000;
}

/* 
                                Landing Page
*/

#landing-page {
    background:url("../images/Project\ 1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.landing-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
}

.landing-group {
    position: relative;
    z-index: 10;
}

.landing-text {
    position: relative;
    z-index: 2;
    display: hidden;
}

.landing-text h1 {
    margin: 0;
    padding-top: 110px;
    color: #fff;
    font-weight: 900;
    line-height: 1.2em;
} 

.landing-text h2 {
    color: #fff;
    margin: 30px auto;
}

.landing-b {
    margin-bottom: 50px;
}

.landing-text button {
    width: 160px;
}
.about {
    border: 1px solid var(--primary);
    display: block;
    font-weight: 900;
}

.primary {
    color: #1a1a1a;
    font-weight: 900;
}

/* 
                                3 Boxes
*/

#cards {
    height: 1800px;
}

.card {
    height: 400px;
    max-width: 250px;
    background: #f6f7f8;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.top-border {
    width: 98%;
    height: 10px;
    background: var(--primary);
    position: relative;
    z-index: 1000;
}

.card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    border-top: 10px solid var(--primary);
    position: absolute;
    max-width: 85%;
    top: -10px;
}

.card i {
    font-size: 50px;
    margin-bottom: 30px;
}

.card h3 {
    color: var(--heading);
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.card p {
    color: var(--p);
    font-size: 14px;
    text-align: center;
    margin: 30px auto;
}

.card-content button {
    border: transparent;
    background: transparent;
    font-size: 14px;
    color: var(--heading);
    margin: 0 auto;
}

i.fas.fa-chevron-right {
    padding: 0 10px;
    font-size: 10px !important;
    position: relative;
    right: -5px;
    -webkit-animation: infinite-spinning 1s infinite ease-in-out;
            animation: infinite-spinning 1s infinite ease-in-out;
}

.card i:first-child {
    font-size: 50px;
    margin-bottom: 30px;
}

.card i:first-child {
    font-size: 50px;
    margin-bottom: 30px;
}

@-webkit-keyframes infinite-spinning {
    0% {
      right: -5px;
    }
    50% {
      right: -10px;
    }

    100% {
        right: -5px;
      }
  }

@keyframes infinite-spinning {
    0% {
      right: -5px;
    }
    50% {
      right: -10px;
    }

    100% {
        right: -5px;
      }
  }

.clip-bottom {
    height: 300px;
    background: #fff;
    width: 100%;
    -webkit-clip-path: polygon(0 90%, 0 100%, 100% 100%, 100% 90%, 50% 100%);
            clip-path: polygon(0 90%, 0 100%, 100% 100%, 100% 90%, 50% 100%);
    position: absolute;
    bottom: 0;
}

/* 
                                About
*/

#icons {
    position: relative;
}

.about-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
}

.about-content {
    position: relative;
    top: -450px;
    height: 750px;
}

.about-content h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

.about-content h2 span {
    color: var(--primary);
    display: block;
    line-height: 1em;
}

.about-content h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 185px;
    top: 55px;
}

.about-content h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 185px;
    top: 64px;
}

.about-content img {
    width: 100%;
    height: auto;
}

/* Yellow Box */
.about-box {
    background: var(--primary);
    padding: 20px;
    position: relative;
    top: -20px;
}

.about-box h3 {
    font-size: 34px;
    margin-bottom: 0;
}

.about-box p {
    margin-bottom: 20px;
}

.about-box span {
    font-weight: normal;
}

.about-content-button {
    width: auto;
}

/* 
                                Icons                   
*/

#icons {
    height: 900px;
    background:url("../images/construction.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
}

.numbers, .numbers-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.numbers-item {
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px;
}

.numbers-item i {
    color: var(--primary);
    font-size: 62px;
    margin-right: 40px !important;
}

.numbers-item div {
    width: 240px;
}

.numbers span, .numbers h4 {
    color: #fff;
    text-align: left;
}

.numbers span {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.numbers h4 {
    margin: 0;
}

/* 
                               Future
*/

#building-the-future {
    background: #f2f2f2;
}

.future-topper {
    background: #fff;
    height: 420px;
}

.future-topper h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    margin: 0;
    padding-top: 60px;
    margin-bottom: 30px;
    line-height: 1em;
}

.future-topper h2 span {
    color: var(--primary);
    display: block;
}

.future-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 250px;
    top: 120px;
}

.future-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 250px;
    top: 129px;
}

.future-icons {
    margin-bottom: 40px;
}

.icon-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-group i {
    margin-right: 20px;
    font-size: 30px;
    color: var(--primary);
    width: 38px !important;
}

/* Cards */

.future-card img {
    width: 100%;
}

.future-card {
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.future-card-content{
    width: 80%;
    margin: auto;
    padding: 0 20px 20px 20px;
    position: absolute;
    bottom: 75px;
    z-index: 10;
    background: #f2f2f2;
}

.future-card-content p {
    margin-bottom: 25px;
}

.future-card-content button {
    border: transparent;
    background: transparent;
    font-size: 14px;
    color: var(--heading);
    margin: 0 auto;
    position: relative;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.future-card-content button:before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 86px;
    height: 2px;
    background: var(--primary);
}

/* 
                               Partners
*/

.partners-topper h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 30px;
}

.partners-topper h2 span {
    color: var(--primary);
}

.partners-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 185px;
    top: 35px;
}

.partners-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 185px;
    top: 44px;
}

.partners-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-logo img {
    margin: 20px auto;
}

/* 
                                Gallery
*/

.gallery img {
    width: 100%;
}

.gallery-topper {
    margin: 70px auto 40px auto;
}

.gallery-topper h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 30px;
}

.gallery-topper h2 span {
    color: var(--primary);
}

.gallery-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 215px;
    top: 35px;
}

.gallery-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 215px;
    top: 44px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* 
                               Navigation
    */

    .container {
        padding: 0 10%;
    }

    .side-nav {
        padding-right: 60px;
        padding-top: 20px;
    }

    .side-nav ul li a {
        font-size: 18px;
    }

    .valley-mobile-logo {
        padding-left: 10%;
        padding-top: 5%;
        height: 65px;
    }

    #menu-button {
        position: absolute;
        z-index: 6000;
        visibility: visible;
        margin: 0;
        margin-right: 8%;
        margin-top: 5%;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 40px;
        height: 4px;
    }

    /* 
                               Landing
    */

    #landing-page {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .landing-text {
        max-width: 700px;
    }

    .landing-text h1 {
        font-size: 60px;
    }
    .landing-text h2 {
        font-size: 25px;
    }

    button.about {
        margin-right: 40px;
        display: inline-block;
        height: 60px;
        width: 200px;
        font-size: 18px;
    }

    button.primary {
        height: 60px;
        width: 200px;
        font-size: 18px;
    }

    /* 
                               About
    */

    .about-content {
        top: -400px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .numbers {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 620px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .about-content h2:before {
        left: 250px;
    }

    .about-content h2:after {
        left: 250px;
    }

    /* 
                               Parters
    */

    .partners-logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media screen and (min-width: 1025px) {

    .container {
        max-width: 1100px !important;
        padding: 0 2em;
        margin: 0;
    }

    #top-navbar {
        display: block;
    }

    .clip-bottom {
        display: none;
    }

    .vcs-black {
        display: block;
        height: 50px;
    }

    nav img {
        display: none;
    }

    .top-nav-container {
        width: 650px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .quote {
        display: inline-block;
        height: 60px;
        position: relative;
        right: 0;
        width: 250px;
        background: var(--primary);
        border: 1px solid var(--primary);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 1em;
        font-weight: bold;
    }

    .quote:hover {
        opacity: .8;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        cursor: pointer;
    }

    #main-navigation {
        visibility: visible;
    }

    nav ul li {
        top: 0;
    }

    .side-nav a {
        display: block;
        visibility: visible;
        opacity: 1;
        margin-bottom: 0;
        margin-right: 20px;
        top: 0px;
    }

    .side-nav a:hover {
        color: var(--primary);
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }

    .active-menu {
        border: none;
        color: var(--primary) !important;
    }

    .side-nav li {
        margin: 0;
    }

    .about-li:hover .sub1 {
        display: block;
    }

    .services-li:hover .sub2 {
        display: block;
    }

    .contact-li:hover .sub3 {
        display: block;
    }



    .top-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        height: 90px;
    }

    .location {
        display: inline-block;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #bottom-nav-bar {
        height: 60px !important;
        top: 90px;
        visibility: visible;
        opacity: 1;
        max-width: 1100px;
        margin: auto;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    #main-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        top: 0;
    }

    /* Top Navigation */

    .location {
        margin: 15px 0;
    }

    .location-info p:first-child {
        font-size: 16px;
        color: #1a1a1a;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
    }

    .location-info p:nth-child(2) {
        margin: 0;
        font-size: 13px;
        color: 
    }

    /* 
                               Landing
    */

    #landing-page {
        height: 700px;
        position: relative;
        background-attachment: fixed;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .landing-group {
        margin: auto;
        width: 1100px;
    }

    .landing-text {
        width: 900px;
        left: 0;
        top: -30px;
    }

    .landing-text h1 {
        padding-top: 30px;
        font-size: 59px;
        font-family: 'Roboto', sans-serif;
    }

    .landing-text h2 {
        width: 610px;
        margin-left: 0;
    }

    button.about {
        display: inline-block;
        margin-right: 40px;
    }

    .clippy-desktop {
        height: 70px;
        width: 100%;
        background: #fff;
        -webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
                clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
        position: absolute;
        bottom: -1px;
    }

    /* 
                               Cards
    */

    #cards {
        position: relative;
        height: 700px;
    }

    .card {
        width: 270px;
        margin: 0;
        height: 450px;;
    }

    .card-content button:hover {
        cursor: pointer;
    }

    .card-container {
        max-width: 1100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-between;
        margin: auto;
        position: relative;
        top: -120px;
    }

    .clippy {
        height: 70px;
        background: #fff;
        -webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
                clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
        position: relative;
        top: -190px;
    }

    /* 
                               About
    */

    .about-content {
        margin: auto;
        top: -300px;
    }

    .about-content h2 {
        font-size: 38px;
    }

    .about-content h2:before {
        top: 14px;
    }

    .about-content h2:after {
        top: 23px;
    }

    .about-content h2:before, 
    .about-content h2:after {
        left: 310px;
    }

    .about-content img {
        width: 650px;
        height: 416px;
    }

    .about-box {
        width: 350px;
        float: right;
        position: relative;
        top: 0px;
    }

    /* 
                               About
    */

    #icons {
        height: 600px;
        background-attachment: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
    }

    .numbers {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
        top: 30px;
        margin: auto;
        left: 30px;
    }

    .location {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .icon i {
        margin-right: 20px;
        color: var(--primary);
        font-size: 30px;
    }

    .about-clippy {
        height: 900px;
        width: 100%;
        background: #fff;
        clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
        position: absolute;
        bottom: -3px;
    }

    /* 
                               Partners
    */

    #partners {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .partners-topper {
        width: 600px;
        margin: 40px auto;
    }

    .partners-topper h2 {
        text-align: center;
        font-size: 38px;
    }

    .partners-topper h2:before,
    .partners-topper h2:after {
        left: 470px;
    }

    .partners-topper h2:before {
        top: 45px;
    }
    
    .partners-topper h2:after {
        top: 54px;
    }

    .partners-topper p {
        text-align: center;
    }

    .partners-topper span:before {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 50px;
        height: 2px;
        right: 470px;
        top: 45px;
    }
        
    .partners-topper span:after {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 30px;
        height: 2px;
        right: 470px;
        top: 54px;
    }

    .partners-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 1100px;
    }

    .partners-logo img {
        width: 150px;
        margin: auto;
    }

    /* 
                               Partners
    */

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 600px;
        width: 100%;
        margin: 80px auto;
        grid-gap: 40px;
        position: relative;
    }

    .gallery div {
        background: #1a1a1a;
    }

    #img1 {
        grid-column: span 2;
        position: relative;
    }

    #img2 {
        grid-column: span 2;
        grid-row: span 2;
        position: relative;
    }

    #img3 {
        grid-column: span 2;
        position: relative;
    }

    #img4 {
        grid-column: span 2;
        grid-row: span 2;
        position: relative;
    }

    #img5 {
        grid-column: span 2;
        grid-row: span 2;
        position: relative;
    }

    #img6 {
        grid-column: span 2;
        position: relative;
    }

    .image {
       height: 100%;
       width: 100%;
       position: absolute;

    }



}