


/* 
                                Landing Page
*/

body, html {
    overflow-x: hidden;
}

#landing-page {
    background:url("../images/Project-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.landing-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .65;
}

.landing-group {
    position: relative;
    z-index: 10;
}

.landing-text {
    position: relative;
    z-index: 2;
    display: hidden;
}

.landing-text h1 {
    margin: 0;
    padding-top: 110px;
    color: #f5f3f3;
    font-weight: 900;
    line-height: 1.2em;
} 

.landing-text h2 {
    color: #f5f3f3;
    margin: 30px auto;
}

.landing-b {
    margin-bottom: 25px;
    margin-top: 10px;

}

.landing-text button {
    width: 160px;
}
.about {
    display: block;
    font-weight: 900;
    background: #f5f3f3;
    color: #000
}

.primary {
    color: #1a1a1a;
    font-weight: 900;
    margin-right: 50px;
}

/* 
                                3 Boxes
*/

#cards {
    height: 1800px;
    position: relative;
}

.card {
    height: 450px;
    max-width: 250px;
    background: #f6f7f8;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.top-border {
    width: 98%;
    height: 10px;
    background: var(--primary);
    position: relative;
    z-index: 1000;
}

.card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    border-top: 10px solid var(--primary);
    position: absolute;
    max-width: 85%;
    top: -10px;
}

.card svg {
    width: 70px;
    height: auto;
    margin-bottom: 30px;
}

.card h3 {
    color: var(--heading);
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.card p {
    color: var(--p);
    font-size: 14px;
    text-align: center;
    margin: 30px auto;
}

.card-content button {
    border: transparent;
    background: transparent;
    font-size: 14px;
    color: var(--heading);
    margin: 0 auto;
    position: relative;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 900;
    height: 20px;
    margin-bottom: 20px;
}

.card-content button:before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 86px;
    height: 2px;
    background: var(--primary);
}

i.fas.fa-chevron-right {
    padding: 0 10px;
    font-size: 10px !important;
    position: relative;
    right: -5px;
    -webkit-animation: infinite-spinning 1s infinite ease-in-out;
            animation: infinite-spinning 1s infinite ease-in-out;
}

.card i:first-child {
    font-size: 50px;
    margin-bottom: 30px;
}

.card i:first-child {
    font-size: 50px;
    margin-bottom: 30px;
}

@-webkit-keyframes infinite-spinning {
    0% {
      right: -5px;
    }
    50% {
      right: -10px;
    }

    100% {
        right: -5px;
      }
}

@keyframes infinite-spinning {
    0% {
      right: -5px;
    }
    50% {
      right: -10px;
    }

    100% {
        right: -5px;
      }
}

#world {
    width: 500px;
    position: absolute;
    opacity: .05;
    bottom: 150px;
    left: -20px;
    bottom: 0;
}

.clip-bottom {
    height: 300px;
    background: #fff;
    width: 100%;
    -webkit-clip-path: polygon(0 90%, 0 100%, 100% 100%, 100% 90%, 50% 100%);
            clip-path: polygon(0 90%, 0 100%, 100% 100%, 100% 90%, 50% 100%);
    position: absolute;
    bottom: 0;
}

/* 
                                About
*/

#icons {
    position: relative;
}

.about-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
}

.about-content {
    position: relative;
    top: -350px;
    height: 750px;
}

.about-content h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

.about-content h2 span {
    color: var(--primary);
    display: block;
    line-height: 1em;
}

.about-content h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 145px;
    top: 10px;
}

.about-content h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 145px;
    top: 19px;
}

.about-content img {
    width: 100%;
    height: auto;
}

/* Yellow Box */
.about-box {
    background: var(--primary);
    padding: 20px;
    position: relative;
    top: -20px;
}

.about-box h3 {
    font-size: 34px;
    margin-bottom: 0;
}

.about-box p {
    margin-bottom: 20px;
}

.about-box span {
    font-weight: normal;
}

.about-content-button {
    width: auto;
    background: #000;
    color: #f5f3f3;
}

.about-content-button:before {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

.about-content-button:after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

/* 
                                Icons                   
*/

#icons {
    height: 1010px;
    background:url("../images/construction.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.numbers, .numbers-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.numbers-item {
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px;
}

.numbers-item svg {
    color: var(--primary);
    width: 150px;
    height: auto;
    margin-right: 40px !important;
}

.numbers-item div {
    width: 240px;
}

.numbers span, .numbers h4 {
    color: #fff;
    text-align: left;
}

.numbers span {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.numbers h4 {
    margin: 0;
}

/* 
                               Future
*/

#building-the-future {
    background: #f5f3f3;
}

.future-topper {
    background: #f5f3f3;
    height: auto;
    margin-bottom: 40px;
}

.future-topper h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    margin: 0;
    padding-top: 100px;
    margin-bottom: 30px;
    line-height: 1em;
}

.future-topper h2 span {
    color: var(--primary);
    display: block;
}

.future-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 190px;
    top: 110px;
}

.future-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 190px;
    top: 119px;
}

.future-icons {
    margin-bottom: 40px;
}

.icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.icon-group i {
    margin-right: 20px;
    font-size: 30px;
    color: var(--primary);
    width: 38px !important;
}

/* Cards */

.future-card img {
    width: 100%;
}

.future-card {
    height: 500px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.future-card-content{
    width: 80%;
    margin: auto;
    padding: 0 20px 20px 20px;
    position: absolute;
    bottom: 95px;
    z-index: 10;
    background: #f5f3f3;
    border-top: 5px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
}

.future-card-content p {
    margin-bottom: 25px;
}

.future-card-content button {
    border: transparent;
    background: transparent;
    font-size: 14px;
    color: var(--heading);
    margin: 0 auto;
    position: relative;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.future-card-content button:before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 86px;
    height: 2px;
    background: var(--primary);
}

/* 
                                Gallery
*/

#gallery {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery img {
    width: 100%;
}

.gallery-topper {
    margin: 70px auto 40px auto;
}

.gallery-topper h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 50px;
}

.gallery-topper h2 span {
    color: var(--primary);
    display: block;
}

.gallery-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 190px;
    top: 14px;
}

.gallery-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 190px;
    top: 23px;
}

.gallery-button {
    font-size: 13px;
    margin: 30px auto;
    border: none;
    margin-bottom: 50px;
    background: #000;
    color: #f5f3f3;
    font-weight: bold;
}

.gallery-button:before {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

.gallery-button:after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.clippy-gallery {
    height: 200px;
    width: 100%;
    background: #f5f3f3;
    -webkit-clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
            clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
    position: absolute;
    bottom: -35px;
}

/* 
                               Partners
*/

#partners {
    background: #f5f3f3;
}

.partners-logo {
    padding-bottom: 50px;
}

.partners-topper h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 100px;
    line-height: 1em;
}

.partners-topper h2 span {
    color: var(--primary);
    display: block;
}

.partners-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 95px;
    top: 110px;
}

.partners-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 95px;
    top: 119px;
}

.image-wrapper {
    margin: 40px 0;
    width: 100%;
    height: 250px !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.34);
    box-sizing: border-box;
}

.wey {
    position: absolute;
    width: 300px !important;
}

.yellow {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fdd008;
    opacity: .9;
}

.partner-showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-showcase-content h2 {
    margin-top: 0;
    font-size: 40px;
}

.partner-showcase-content h3 {
    margin-top: 0;
}

.partner-showcase-content p {
    margin-top: 0;
}

.partner-showcase-content p:first-child {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 14px;
    color: var(--primary);
}

.showcase-button {
    width: auto;
    margin-top: 20px;
}

.partners-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.partners-logo img {
    margin: 50px auto;
    margin-bottom: 0;
    width: 70%;
    height: auto;
}

.partners-logo img:last-child {
    width: 150px;
}

/* 
                               Sales
*/

#sales {
    background: #1a1a1a;
    position: relative;
}

.sales-topper h2 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 100px;
    line-height: 1em;
}

.sales-topper h2 span {
    color: var(--primary);
    display: block;
}

.sales-topper h2:before {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 50px;
    height: 2px;
    left: 95px;
    top: 110px;
}

.sales-topper h2:after {
    content: '';
    position: absolute;
    background: var(--primary);
    width: 30px;
    height: 2px;
    left: 95px;
    top: 119px;
}

.sales-topper h2,
.sales-topper p {
    color: #f5f3f3;
}

.sales-topper h2 {
    margin-top: 0;
}

.sales-topper p {
    line-height: 1.5em;
}

.sales-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sales-card {
    margin: 20px auto;
}

.sales-card img {
    width: 260px;
    height: 350px;
    border-bottom: 5px solid var(--primary);
    margin-bottom: 10px;
}

.sales-card h3,
.sales-card h4 {
    margin: 0;
    color: #f5f3f3;
}

.sales-card h3 {
    letter-spacing: 1px;
}

.sales-card h4 {
    font-weight: normal;
}

.sales-people:last-child {
    padding-bottom: 50px;
}

.clippy-sales {
    height: 200px;
    width: 100%;
    background: var(--primary);
    -webkit-clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
            clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
    position: absolute;
    bottom: -3px;
}

/* 
                               Contact
*/

#contact {
    background: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150px;
}

.contact-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
}

.contact-group h2 {
    margin-top: 0;
    font-size: 20px;
}

.contact-group button {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}


/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* 
                               Landing
    */

    body, html {
        overflow-x: hidden;
    }

    #landing-page {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .landing-text {
        max-width: 700px;
    }

    .landing-text h1 {
        font-size: 60px;
        position: relative;
        z-index: 15;
    }

    .landing-text h1:before {
        content: '';
        width: 280px;
        height: 4px;
        background: var(--primary);
        position: absolute;
        bottom: 5px;
        z-index: -1;
    }

    .landing-text h1:after {
        content: '';
        width: 558px;
        height: 4px;
        background: var(--primary);
        position: absolute;
        bottom: 76px;
        left: 0;
        z-index: -1;
    }

    .landing-text h2 {
        font-size: 25px;
    }

    button.about {
        margin-right: 40px;
        display: inline-block;
        height: 60px;
        width: 200px;
        font-size: 18px;
    }

    button.primary {
        height: 60px;
        width: 200px;
        font-size: 18px;
    }

    /* 
                               Cards
    */

    .card {
        max-width: 450px !important;
    }

    #world {
        width: 970px;
        bottom: -250px;
        left: -100px;
        opacity: .05;
    }


    /* 
                               About
    */

    .about-content {
        top: -350px;
    }

    .about-content h2 {
        font-size: 50px;
        padding-top: 50px;
    }

    .numbers {
        margin: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 620px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .about-content h2:before {
        left: 200px;
        top: 65px;
    }

    .about-content h2:after {
        left: 200px;
        top: 74px;
    }

    .about-clippy {
        height: 300px;
        width: 100%;
        background: #f5f3f3;
        -webkit-clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
                clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
        position: absolute;
        bottom: -3px;
    }

    /* 
                               Parters
    */

    .partners-topper {
        padding: 0 2em;
    }

    .partners-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: auto;
        width: auto;
    }

    /* 
                               Gallery
    */

    #gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .gallery-topper {
        margin: 0;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .gallery-topper h2 {
        margin-top: 0;
    }

    .gallery {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 450px;
        width: 100%;
        padding: 0;
        margin: 0px auto;
        grid-gap: 20px;
        position: relative;
    }

    .gallery > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .gallery > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .gallery > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .gallery > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }

    .gallery > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }

    .gallery > *:nth-child(6) {
        -ms-grid-row: 1;
        -ms-grid-column: 11;
    }

    .gallery > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .gallery > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .gallery > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .gallery > *:nth-child(10) {
        -ms-grid-row: 3;
        -ms-grid-column: 7;
    }

    .gallery > *:nth-child(11) {
        -ms-grid-row: 3;
        -ms-grid-column: 9;
    }

    .gallery > *:nth-child(12) {
        -ms-grid-row: 3;
        -ms-grid-column: 11;
    }

    .gallery > *:nth-child(13) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .gallery > *:nth-child(14) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .gallery > *:nth-child(15) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
    }

    .gallery > *:nth-child(16) {
        -ms-grid-row: 5;
        -ms-grid-column: 7;
    }

    .gallery > *:nth-child(17) {
        -ms-grid-row: 5;
        -ms-grid-column: 9;
    }

    .gallery > *:nth-child(18) {
        -ms-grid-row: 5;
        -ms-grid-column: 11;
    }

    .gallery div {
        background: #1a1a1a;
    }

    #img1 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        position: relative;
    }

    #img2 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-span: 2;
        grid-row: span 2;
        position: relative;
    }

    #img3 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        position: relative;
    }

    #img4 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-span: 2;
        grid-row: span 2;
        position: relative;
    }

    #img5 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-span: 2;
        grid-row: span 2;
        position: relative;
    }

    #img6 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        position: relative;
    }

    .image {
       height: 100%;
       width: 100%;
       position: absolute;

    }

    .gallery-button {
        margin: 30px auto 90px auto !important;
        display: block;  
        width: auto !important;
        font-size: 20px;
        font-weight: bold;
    }

    .clippy-gallery {
        height: 500px;
        bottom: -3px;
    }

    /* 
                               Future
    */

    .future-topper {
        height: auto;
        margin-bottom: 30px;
    }

    .future-topper h2 {
        font-size: 50px;
    }

    .future-topper h2:before {
        left: 250px;
        top: 110px;
    }

    .future-topper h2:after {
        left: 250px;
        top: 119px;
    }

    .future-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .future-cards {
        position: relative;
        height: auto;
    }

    .future-card {
        margin-bottom: -40px;
        height: 550px;
    }

    .future-card img {
        width: 80%;
    }

    .future-card-content {
        width: 65%;
        top: 150px;
        padding: 25px;
        height: 150px;
        border-top: 5px solid var(--primary);
        border-left: 1px solid var(--primary);
        border-right: 1px solid var(--primary);
    }

    .future-card-content h3 {
        font-weight: 900;
    }

    /* 
                               Partners
    */

    .partners-topper {
        padding: 0 10%;
        margin: auto;
        margin-top: 0;
    }

    .partners-topper h2 {
        margin-top: 0;
    }

    .partners-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .partners-logo img {
        width: 150px;
        margin: 15px;
    }

    /* 
                               Sales
    */

    .sales-topper h2 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 30px;
        position: relative;
        padding-top: 100px;
    }
    
    .sales-topper h2 span {
        color: var(--primary);
        display: block;
    }
    
    .sales-topper h2:before {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 50px;
        height: 2px;
        left: 110px;
        top: 110px;
    }
    
    .sales-topper h2:after {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 30px;
        height: 2px;
        left: 110px;
        top: 119px;
    }
    
    .sales-people {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: auto;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 50px auto;
        padding-top: 30px;
    }

    .sales-card {
        margin: 25px;
    }

    .sales-card img {
        width: 200px;
        height: auto;;
    }

    /* 
                               Contact
    */

    #contact {
        height: 250px;
    }

    .contact-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }

    .contact-group h2 {
        margin-bottom: 30px;
        font-size: 25px;
    }

    .contact-button {
        margin: 10px auto !important;
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px) {

    /* 
                               Landing
    */

    #landing-page {
        min-height: 750px;
        position: relative;
        background-attachment: fixed;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .landing-group {
        margin: 0 auto;
        width: 1100px;
    }

    .landing-text {
        width: 900px;
        left: 0;
        top: -30px;
    }

    .landing-text h1 {
        padding-top: 30px;
        font-size: 59px;
        font-family: 'Roboto', sans-serif;
    }

    .landing-text h2 {
        width: 610px;
        margin-left: 0;
        line-height: 1.4em;
    }

    button.about {
        display: inline-block;
        margin-right: 40px;
    }

    .clippy-desktop {
        height: 90px;
        width: 100%;
        background: #fff;
        -webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
                clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
        position: absolute;
        bottom: -2px;
    }

    /* 
                               Cards
    */

    #cards {
        position: relative;
        height: 750px;
    }

    .card {
        width: 270px;
        margin: 0;
        height: 500px;
    }

    .card-content button {
        position: relative;
        left: 15px;
    }

    .card-content button:before {
        width: 93px;
    }

    .card-content button:hover {
        cursor: pointer;
    }

    .card-content p {
        height: 150px;
    }

    .card-container {
        max-width: 1100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            -webkit-box-pack: justify;
                justify-content: space-between;
        margin: auto;
        position: relative;
        top: -100px;
    }

    #world {
        margin: auto;
        left: 400px;
        width: 1100px;
        bottom: -300px;
    }

    .clippy {
        height: 90px;
        background: #fff;
        -webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
                clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 20%, 50% 100%);
        position: relative;
        bottom: 190px;
    }

    /* 
                               About
    */

    .about-content {
        margin: auto;
        top: -300px;
    }

    .about-content h2 {
        font-size: 38px;
    }

    .about-content h2 span {
        display: inline-block
    }

    .about-content h2:before {
        top: 14px;
    }

    .about-content h2:after {
        top: 23px;
    }

    .about-box h3 {
        margin-top: 0;
        width: 300px;
    }

    .about-content h2:before, 
    .about-content h2:after {
        left: 290px;
    }

    .about-content img {
        width: 670px;
        height: 416px;
    }

    .about-box {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 370px;
        float: right;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        top: 0px;
        height: 416px;
        padding: 0;
    }

    .about-box h3 {
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 7px;
    }

    .about-box p {
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 20px;
    }

    .about-box button {
        width: 180px;
        height: 40px;
        margin-left: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .about-clippy {
        background: #f5f3f3 !important;
        height: 80% !important;
    }

    /* 
                               About
    */

    #icons {
        height: 530px;
        background-attachment: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
    }

    .numbers {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
        top: 40px;
        margin: auto;
    }

    .first-item {
        margin-left: 0 !important
    }

    .last-item {
        margin-right: 0 !important;
    }

    .number-last h4 {
        width: 110px;
        margin-right: 0;
    }

    .numbers-item {
        margin-left: 50px;
    }

    .numbers-item h4 {
        font-weight: normal;
    }

    .location {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .numbers-item svg {
        margin-right: 20px !important;
        width: 80px;
    }

    .about-clippy {
        height: 900px;
        width: 100%;
        background: #fff;
        -webkit-clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
                clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 86%, 50% 98%);
        position: absolute;
        bottom: -3px;
    }

    /* 
                               Future
    */

    #building-the-future {
        height: 770px !important;
        padding-top: 30px;
    }

    .future-topper {
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 60px;
        height: auto;
    }

    .future-topper .heading-lines {
        height: 50px;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .future-topper h2 {
        width: 550px;
        margin: 0;
    }

    .future-topper p {
        float: right;
        width: 700px !important;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        padding-bottom: 25px;
        margin-top: 0;
    }

    .future-topper h2 span {
        display: inline-block;
        margin-right: 10px;
    }

    .future-topper h2:before {
        left: 444px;
        top: 15px;
    }

    .future-topper h2:after {
        left: 444px;
        top: 24px;
    }

    .future-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 50px;
    }

    .icon-group {
        height: 50px;
        margin-right: 22px;
    }

    .icon-group:last-child {
        margin-right: 0;
    }

    .icon-group i {
        margin-right: 13px;
    }

    .icon-group h3 {
        margin: 0;
    }

    /* Future Cards */

    .future-cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 1132px;
        margin: auto;
        padding: 0 2em 50px 2em;
        height: auto;
    }

    .future-card {
        width: 340px;
        height: 450px;
    }

    .future-card-content {
        top: 140px;
        width: 80%;
        padding: 0 18px;
        height: 180px;
    }

    .future-card-content p {
        margin-bottom: 0;
    }

    .future-card-content button {
        padding-top: 25px;
    }

    .future-card-content button:before {
        width: 95px; 
    }


    /* 
                               Gallery
    */

    #gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: auto;
    }

    .gallery-topper {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 50px;

    }

    .gallery {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 40px 1fr 40px 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 600px;
        width: 100%;
        margin: 10px auto;
        grid-gap: 40px;
        position: relative;
        margin-bottom: 30px;
    }

    .gallery img {
        cursor: pointer;
    }

    .gallery > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .gallery > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .gallery > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .gallery > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }

    .gallery > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }

    .gallery > *:nth-child(6) {
        -ms-grid-row: 1;
        -ms-grid-column: 11;
    }

    .gallery > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .gallery > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .gallery > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .gallery > *:nth-child(10) {
        -ms-grid-row: 3;
        -ms-grid-column: 7;
    }

    .gallery > *:nth-child(11) {
        -ms-grid-row: 3;
        -ms-grid-column: 9;
    }

    .gallery > *:nth-child(12) {
        -ms-grid-row: 3;
        -ms-grid-column: 11;
    }

    .gallery > *:nth-child(13) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .gallery > *:nth-child(14) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .gallery > *:nth-child(15) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
    }

    .gallery > *:nth-child(16) {
        -ms-grid-row: 5;
        -ms-grid-column: 7;
    }

    .gallery > *:nth-child(17) {
        -ms-grid-row: 5;
        -ms-grid-column: 9;
    }

    .gallery > *:nth-child(18) {
        -ms-grid-row: 5;
        -ms-grid-column: 11;
    }

    .gallery-topper {
        margin: auto;
        position: relative;
        padding-top: 50px;
    }

    .gallery-topper h2 {
        text-align: center;
    }

    .gallery-topper h2 span {
        display: inline-block;
    }

    .gallery-topper h2:before {
        left: 540px;
    }

    .gallery-topper h2:after {
        left: 540px;
    }

    .gallery-topper h2 span:before {
        content: '';
        right: 540px;
        width: 50px;
        height: 2px;
        background: var(--primary);
        position: absolute;
        top: 14px;
    }

    .gallery-topper h2 span:after {
        content: '';
        right: 540px;
        width: 30px;
        height: 2px;
        background: var(--primary);
        position: absolute;
        top: 23px;
    }

    .gallery-topper p {
        width: 700px;
        text-align: center;
    }

    .gallery div {
        background: #1a1a1a;
    }

    #img1 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        position: relative;
    }

    #img2 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-span: 2;
        grid-row: span 2;
        position: relative;
    }

    #img3 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        position: relative;
    }

    #img4 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-span: 2;
        grid-row: span 2;
        position: relative;
    }

    #img5 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-span: 2;
        grid-row: span 2;
        position: relative;
    }

    #img6 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        position: relative;
    }

    .image {
       height: 100%;
       width: 100%;
       position: absolute;

    }

    .gallery-button {
        margin: 20px auto 100px auto !important;
        display: block;  
        width: auto;
        font-weight: 900;
        width: 180px;
        font-size: 14px;
    }

    .clippy-gallery {
        position: absolute;
        bottom: -2px;
        height: 400px;
    }

    /* 
                               Partners
    */

    #partners {
        width: 100%;
        height: auto;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .partners-topper {
        width: 600px;
        margin: 0 auto;
    }

    .partners-topper h2 {
        text-align: center;
        font-size: 38px;
        margin-top: 0;
        padding-top: 100px;
    }

    .partners-topper h2:before,
    .partners-topper h2:after {
        left: 460px;
    }

    .partners-topper h2:before {
        top: 110px;
    }
    
    .partners-topper h2:after {
        top: 119px;
    }

    .partners-topper p {
        text-align: center;
    }

    .partners-topper h2 span {
        display: inline-block;
    }

    .partners-topper span:before {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 50px;
        height: 2px;
        right: 460px;
        top: 110px;
    }
        
    .partners-topper span:after {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 30px;
        height: 2px;
        right: 460px;
        top: 119px;
    }

    .partner-showcase-content {
        height: auto;
    }

    .partner-showcase {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .partner-showcase h2 {
        margin-top: 0;
    }

    .partner-showcase h3,
    .partner-showcase p {
        width: 500px
    }

    .partner-showcase img {
        height: auto;
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        height: 283px;
        width: 350px;
        margin-right: 50px;
    }

    .yellow {
        height: 100% !important;
    }

    .showcase-button {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        width: auto;
    }

    .partners-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 1100px;
        height: auto;
        padding-bottom: 100px;
    }

    .partners-logo img {
        width: 150px;
        margin: 50px auto 0px auto;
    }

    /* 
                               Sales
    */

    .sales-container {
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .sales-topper {
        padding-top: 50px;
    }

    .sales-topper h2 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 30px;
        position: relative;
        padding-top: 50px;
        line-height: 1em;
    }
    
    .sales-topper h2 span {
        color: var(--primary);
        display: inline-block;
    }
    
    .sales-topper h2:before {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 50px;
        height: 2px;
        left: 345px;
        top: 60px;
    }
    
    .sales-topper h2:after {
        content: '';
        position: absolute;
        background: var(--primary);
        width: 30px;
        height: 2px;
        left: 345px;
        top: 69px;
    }

    .sales-topper h2 {
        text-align: left;
    }
    .sales-topper p {
        text-align: left;
        width: 700px;
    }

    .sales-topper h2 span:before,
    .sales-topper h2 span:after {
        display: none;
    }

    .sales-people {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 100px !important;
    }

    .sales-card {
        margin: 0;
        padding: 25px 0;
        width: 190px;
    }

    .sales-card h3 {
        font-size: 16px;
    }

    .sales-card h4 {
        font-size: 14px
    }

    .sales-card img {
        width: 100%;
        height: auto;
    }

    /*-- -------------------------- -->
    <---          CONTACT           -->
    <--- -------------------------- -*/

    #contact {
        height: 210px;
    }

    .contact-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 730px;
    }

    .contact-group h2 {
        margin-bottom: 0;
        font-size: 33px;
    }

    .contact-group button {
        height: 46px;
        width: auto;
        font-weight: 900;
        width: 200px;
        font-size: 16px;
        margin: 0;
    }

}